<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>萍酱电影网</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="static/css/style.css" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="static/css/ie6.css" type="text/css" media="all" />
	<![endif]-->
	<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="static/js/jquery-func.js"></script>
</head>
<body>
<!-- Shell -->
<div id="shell">
	<!-- Header -->
	<div id="header">
		<h1 id="logo"><a href="#">Movie Hunter</a></h1>
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a class="active" href="#">首页</a></li>
			    <li><a href="#">新闻</a></li>
			    <li><a href="#">影院</a></li>
			    <li><a href="#">即将上映</a></li>
			    <li><a href="#">联系我们</a></li>
			    <li><a href="#">广告</a></li>
			</ul>
		</div>
		<!-- end Navigation -->
		
		<!-- Sub-menu -->
		<div id="sub-navigation">
			<ul>
			    <li><a href="#">全部</a></li>
			    <li><a href="#">最新</a></li>
			    <li><a href="#">排行</a></li>
			    <li><a href="#">热评</a></li>
			</ul>
			<div id="search">
				<form action="home_submit" method="get" accept-charset="utf-8">
					<label for="search-field">SEARCH</label>					
					<input type="text" name="search field" value="Enter search here" id="search-field" title="Enter search here" class="blink search-field"  />
					<input type="submit" value="GO!" class="search-button" />
				</form>
			</div>
		</div>
		<!-- end Sub-Menu -->
		
	</div>
	<!-- end Header -->
	
	<!-- Main -->
	<div id="main">
		<!-- Content -->
		<div id="content">

			<!-- Box -->
			<div class="box">
				<div class="head">
					<h2>最新直击</h2>
					<p class="text-right"><a href="#">See all</a></p>
				</div>
                <!-- start Movie -->
                {% for movie in context.new %}
                    {% if loop.last %}
                        <div class="movie last">
                    {% else %}
                        <div class="movie">
                    {% endif %}
                            <div class="movie-image">
                                <a href={{ movie.2 }}><span class="play"><span class="name">{{ movie.3}}</span></span><img src={{ movie.1 }} alt="movie" /></a>
                            </div>
                            <div class="rating">
                                <div class="stars">
                                    <div class="stars-in">

                                    </div>
                                </div>
                                <span class="comments">{{ ((movie.8 | int)/10000) | round }}w</span>
                            </div>
                        </div>
                {% endfor %}

				<div class="cl">&nbsp;</div>
			</div>
			<!-- end Box -->
			
			<!-- Box -->
			<div class="box">
				<div class="head">
					<h2>高分推荐</h2>
					<p class="text-right"><a href="#">See all</a></p>
				</div>
                <!-- start Movie -->
                {% for movie in context.top_rated %}
                    {% if loop.last %}
                        <div class="movie last">
                    {% else %}
                        <div class="movie">
                    {% endif %}
                            <div class="movie-image">
                                <a href={{ movie.2 }}><span class="play"><span class="name">{{ movie.3}}</span></span><img src={{ movie.1 }} alt="movie" /></a>
                            </div>
                            <div class="rating">
                                <div class="stars">
                                    <div class="stars-in">

                                    </div>
                                </div>
                                <span class="comments">{{ ((movie.8 | int)/10000) | round }}w</span>
                            </div>
                        </div>
                {% endfor %}
				<!-- end Movie -->
				<div class="cl">&nbsp;</div>
			</div>
			<!-- end Box -->
			
			<!-- Box -->
			<div class="box">
				<div class="head">
					<h2>最热评论</h2>
					<p class="text-right"><a href="#">See all</a></p>
				</div>
                <!-- start Movie -->
                {% for movie in context.hot_comment %}
                    {% if loop.last %}
                        <div class="movie last">
                    {% else %}
                        <div class="movie">
                    {% endif %}
                            <div class="movie-image">
                                <a href={{ movie.2 }}><span class="play"><span class="name">{{ movie.3}}</span></span><img src={{ movie.1 }} alt="movie" /></a>
                            </div>
                            <div class="rating">
                                <div class="stars">
                                    <div class="stars-in">

                                    </div>
                                </div>
                                <span class="comments">{{ ((movie.8 | int)/10000) | round }}w</span>
                            </div>
                        </div>
                {% endfor %}
				<!-- end Movie -->
				<div class="cl">&nbsp;</div>
			</div>
			<!-- end Box -->
			
		</div>
		<!-- end Content -->

		<!-- NEWS -->
		<div id="news">
			<div class="head">
				<h3>NEWS</h3>
				<p class="text-right"><a href="#">See all</a></p>
			</div>
			
			<div class="content">
				<p class="date">12.04.09</p>
				<h4>Disney's A Christmas Carol</h4>
				<p>&quot;Disney's A Christmas Carol,&quot; a multi-sensory thrill ride re-envisioned by Academy Award&reg;-winning filmmaker Robert Zemeckis, captures... </p>
				<a href="#">Read more</a>
			</div>
			<div class="content">
				<p class="date">11.04.09</p>
				<h4>Where the Wild Things Are</h4>
				<p>Innovative director Spike Jonze collaborates with celebrated author Maurice Sendak to bring one of the most beloved books of all time to the big screen in &quot;Where the Wild Things Are,&quot;...</p>
				<a href="#">Read more</a>
			</div>
			<div class="content">
				<p class="date">10.04.09</p>
				<h4>The Box</h4>
				<p>Norma and Arthur Lewis are a suburban couple with a young child who receive an anonymous gift bearing fatal and irrevocable consequences.</p>
				<a href="#">Read more</a>
			</div>
		</div>
		<!-- end NEWS -->
		
		<!-- Coming -->
		<div id="coming">
			<div class="head">
				<h3>COMING SOON<strong>!</strong></h3>
				<p class="text-right"><a href="#">See all</a></p>
			</div>
			<div class="content">
				<h4>The Princess and the Frog </h4>
					<a href="#"><img src="static/css/images/coming-soon1.jpg" alt="coming soon" /></a>
				<p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
				<a href="#">Read more</a>
			</div>
			<div class="cl">&nbsp;</div>
			<div class="content">
				<h4>The Princess and the Frog </h4>
					<a href="#"><img src="static/css/images/coming-soon2.jpg" alt="coming soon" /></a>
				<p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
				<a href="#">Read more</a>
			</div>
			
		</div>
		<!-- end Coming -->
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end Main -->

	<!-- Footer -->
	<div id="footer">
		<p>
			<a href="#">HOME</a> <span>|</span>
			<a href="#">NEWS</a> <span>|</span>
			<a href="#">IN THEATERS</a> <span>|</span>
			<a href="#">COMING SOON </a> <span>|</span>
			<a href="#">LATERS TRAILERS</a> <span>|</span>
			<a href="#">TOP RATED TRAILERS</a> <span>|</span>
			<a href="#">MOST COMMENTED TRAILERS</a> <span>|</span>
			<a href="#">ADVERTISE</a> <span>|</span>
			<a href="#">CONTACT </a>
		</p>
		<p> &copy; 2009 Movie Hunter, LLC. All Rights Reserved.  Designed by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">ChocoTemplates.com</a></p>
	</div>
	<!-- end Footer -->
</div>
<!-- end Shell -->
</body>
</html>